[submodule "third_party/open-vcdiff"]
	path = third_party/open-vcdiff
	url = https://github.com/google/open-vcdiff
[submodule "third_party/tiny-vcdiff"]
	path = third_party/tiny-vcdiff
	url = https://github.com/jue89/tiny-vcdiff
